<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.yenaly.cqupttoolbox">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".CTApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ct_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_config"
        android:roundIcon="@mipmap/ct_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CQUPTToolbox"
        tools:ignore="UnusedAttribute">
        <activity
            android:name=".ui.activity.LoginActivity"
            android:exported="true"
            android:theme="@style/LoginSplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.MainActivity"
            android:exported="true"
            android:theme="@style/MainSplashScreen"
            android:windowSoftInputMode="adjustPan">

        </activity>
        <activity
            android:name=".ui.activity.SettingsActivity"
            android:exported="true"
            android:theme="@style/SettingsTheme">

        </activity>
    </application>

</manifest>